<div id="<%= dom_id tasklist %>">
  <p>
    <strong>Title:</strong>
    <%= tasklist.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tasklist.description %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= tasklist.deadline %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tasklist.user_id %>
  </p>

</div>
